# Description
This notebook analyzes and vizualizes precipitation data

In [1]:
# The code was removed by Watson Studio for sharing.

  Country or Area  Year    Value  Value Footnotes                  Unit
0         Albania  2007  30964.0              NaN  million cubic metres
1         Albania  2006  32380.0              NaN  million cubic metres
2         Albania  2005  42840.0              NaN  million cubic metres
3         Albania  2004  42787.0              NaN  million cubic metres
4         Albania  2003  27893.0              NaN  million cubic metres